body {
  font-family: "OpenSans, NotoSans, sans-serif";
  background-color: #26293C;
  color:#ffffff;
  font-size: 1.4rem;
}

h2{
  font-size: 1.4rem;
}
h3{
  font-size: 1rem;
  font-family: "OpenSans, NotoSans, sans-serif";
}
.receipt{
  color: red;
  font-size: 1rem;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "OpenSans, NotoSans, sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}